<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>751 words - Dashboard</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Merriweather:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <link rel="stylesheet" href="/css/tipsy.css">
  <link rel="stylesheet" href="/css/cal-heatmap.css">

</head>

<body class="preload">
  
  <header>
    <a id="header-dashboard" href="/dashboard"></a>
    <!-- <div id="header-hello"><span class="hello">Hello</span> <%= user.username %>.</div> -->
    <div id="header-navigation">
      <a class="archives" href="#">Archives</a>
      <a class="settings" href="/dashboard/settings">Settings</a>
      <a class="logout" href="/logout">Log out</a>
    </div>
  </header>

    <div id="cal-heatmap"><h4>Activity in the last year</h4></div>
    <div id="calendar">
      <div id="calendar-grid">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
      <div class="caption">
         <h5 class="current-streak"></h5>
        <h5 class="longest-streak"></h5>
        <h5 class="total-words"></h5>
        Less
        <div class="quartile q0"></div>
        <div class="quartile q1"></div>
        <div class="quartile q2"></div>
        <div class="quartile q3"></div>
        <div class="quartile q4"></div>
        More
      </div>
    </div>
   

 <br> <br> <br> <br>
 
  <div class="account-summary">
    <h3>Hello <%= user.username %>.</h3>
   
    <% if (noPosts) { %>
      <!-- Display a welcome message when nothing was written ever -->
    <% }
      else { %>
        <p> You have written <%= totalWords %> 
            <% if (totalWords > 1) { %>words<% } else { %>word<% } %>
            in the span of <%= posts.length %>
            <% if (posts.length > 1) { %>days<% } else { %>day<% } %>.

            <% if (noPostToday) { %> 
                You haven't wrote anything for today!
             <% } 

              else { %>
                You have written <%= posts[posts.length - 1].wordsCount %>/750 words today.
              <% } %> 
   
        </p>
      <% } %>
     
  </div>


  <p>
    user: <%= user %>
  </p>
  <p>
    posts: <%= posts %>
  </p>
  <p>
    noPosts: <%= noPosts %>
  </p>
  <p>
    noPostToday: <%= noPostToday %>
  </p>
  

<%= activeDays %>
<%= totalWords %>  

  <% if (content) {
    if (posts[posts.length -1 ].wordsCount >= 751) { %>
      <div class="alert alert-success">Nice! You've already completed your 751 words for this day, but you can always add more :)</div>
    <%}
  }%>
  <div class="container">
    

    <form action="dashboard" method="post">
      
      <textarea name="content" id="content" placeholder="Write here"><%= content %></textarea>

      

      
      <div class="circular-bar">
        <input type="text" class="dial" data-fgColor="#068894" data-width="30" data-height="30" >
        <p class="circular-bar-counter">0 words</p>
      </div>
      <div id="submit">Draft</div>
      
    </form>

    
  </div>
  
   <!-- Injecting the Number of days the user has written in to use in frontend JS -->
    <script>
      var totalWords = <%= totalWords %>;
    </script>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script src="/js/cal-heatmap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.autosize.min.js"></script>
  <script src="/js/nanobar.min.js"></script>
  <script src="/js/dashboard.script.js"></script>
  <script src="/js/jquery.tipsy.js"></script>
  <script src="/js/jquery.knob.min.js"></script>
  <script src="/js/jquery.hotkeys.js"></script>
</body>
</html>